<!doctype html>
<html lang="en" ng-app="transpoApp">
<head>
  <meta charset="utf-8">
  <title>Transpo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>

<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" ng-controller="LocationTimesListCtrl">
        <h4>Location times</h4>
        <ul class="locationTimes">
          <li ng-repeat="loc in locationTimes">
            <span>{{loc.time | limitTo: 5}} {{linesMap[stationsMap[loc.station].line].name}}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4" ng-controller="StationListCtrl">
        <h4>Stations</h4>
        <ul class="stations">
          <li ng-repeat="station in stations">
            <span>{{linesMap[station.line].name}}/{{station.name}}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4" ng-controller="StationTimesListCtrl">
        <h4>Station times</h4>
        <ul class="stationTimes">
          <li ng-repeat="st in stationTimes">
            <span>{{st.day}} {{st.time}} {{st.station}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-controller="PhoneListCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

</body>
</html>
