<!doctype html>
<html lang="en">
<head>
  <title>Transpo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <!--<link rel="stylesheet" href="css/app.css">-->
</head>

<body ng-app="transpoApp" layout="column">

<md-toolbar layout="row">
  <h1>Transpo App</h1>
</md-toolbar>

<div ng-controller="DateCtrl" style="padding: 10px;" layout="column" ng-cloak class="md-inline-form">
  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <form name="scheduleForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Date/Time</label>
            <input name="time" ng-model="scheduleDate" ng-pattern="/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}$/" />
          </md-input-container>
        </div>
      </form>
    </div>
    <section layout-align="left" layout-wrap>
      <md-button md-no-ink class="md-primary">Refresh</md-button>
    </section>
  </md-content>
</div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Locations">
        <md-content class="md-padding" ng-controller="LocationTimesListCtrl">
          <md-list>
            <!--<md-subheader class="md-no-sticky">Times</md-subheader>-->
            <md-list-item ng-repeat="loc in locationTimes | limitTo: 8">
              <span>{{loc.time | limitTo: 5}} {{linesMap[stationsMap[loc.station].line].name}}</span>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Stations">
        <md-content class="md-padding" ng-controller="StationListCtrl">
          <md-list>
            <md-list-item ng-repeat="station in stations">
              <span>{{linesMap[station.line].name}}/{{station.name}}</span>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>
